/* PACKAGING */
.medicine-packaging {
  font-size: 0.7rem;
  color: #475569;
  margin-bottom: 0.25rem;
}

/* DESCRIPTION */
.medicine-desc {
  font-size: 0.7rem;
  color: #64748b;
  margin-bottom: 0.35rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* PRICE GROUP */
.price-group {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.medicine-mrp {
  font-size: 0.7rem;
  color: #94a3b8;
  text-decoration: line-through;
}

/* EXPIRY */
.medicine-expiry {
  font-size: 0.65rem;
  margin-bottom: 0.4rem;
  color: #475569;
}

.medicine-expiry.near {
  color: #f59e0b;
  font-weight: 600;
}

.medicine-expiry.expired {
  color: #dc2626;
  font-weight: 600;
}
